<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set values for "MainForm" - Tab page: "Consolidate APJ 3PL Report" -->
    <add key="APJ3PLSourceReportFolder" value="D:\Working\WorkShop\Projects\13-FGI Consolidation Tool\Report\3PL Report\3PL"/>
    <add key="APJSnPPartListFile" value="D:\Working\WorkShop\Projects\13-FGI Consolidation Tool\Report\APJ SnP Part list.xlsx"/>
    <add key="APJConsolidationReportOutputFolder" value="D:\Working\WorkShop\Projects\13-FGI Consolidation Tool\Report\Consolidation"/>
    <add key="APJSnPPartListFilePartListSheetName" value="Part List"/>
    <add key="APJSnPPartListFileSiteNameListSheetName" value="Site Name List"/>
    <add key="SiteNameList" value="ANZ,IND,MST,JPN,CCC"/>
    <add key="ANZ3PLReportPrefixName" value="InventoryAging_"/>
    <add key="ANZ3PLReportSheetName" value="InventoryAging_"/>
    <add key="IND3PLReportPrefixName" value="Locator Report"/>
    <add key="IND3PLReportSheetName" value="DynamicReport"/>
    <add key="MST3PLReportPrefixName" value="storageAgeingReport-"/>
    <add key="MST3PLReportSheetName" value="StorageAgeingReportByDefault"/>
    <add key="JPN3PLReportPrefixName" value="JPN3PLReport"/>
    <add key="JPN3PLReportSheetName" value="Sheet1"/>
    <add key="CCCDragonReportPrefixName" value="CCC_Dragon_Inventory_Visibility_"/>
    <add key="CCCDragonReportSheetName" value="CCC_Dragon_Inventory_Visibility"/>

    <!-- Set values for "MainForm" - Tab page: "Consolidate DAO 3PL Report" -->
    <add key="DAO3PLReportSourceFolder" value="\\Ausdsnas03.aus.amer.dell.com\Global_IC_Data$\StdWrkSp\DataFiles"/>
    <add key="DAO3PLConsolidationReportOutputFolder" value="D:\ATS_Report\Report"/>
    <add key="TranFilePostfixNameList" value="3PL-EG3,AW1,BNA,ELP,FG3,MXC,SCA"/>
    <add key="SnapFilePostfixNameList" value="3PL-EG3,AW1,BNA,ELP,FG3,MXC,SCA"/>
    
    <!-- Set values for "MainForm" - Tab page: "Generate Aging Report" -->
    <add key="AgingReportSourceFolder" value="\\Ausfwdsclusfs01.aus.amer.dell.com\aus_fgi_data$\FGI Metrics\Aging"/>
    <add key="DetailsReportSourceFolder" value="\\Ausfwdsclusfs01.aus.amer.dell.com\aus_fgi_data$\FGI Metrics\Details"/>
    <add key="OnhandReportSourceFolder" value="\\Ausfwdsclusfs01.aus.amer.dell.com\aus_fgi_data$\FGI Metrics\On-Hand"/>
    <add key="InTransitReportSourceFolder" value="\\Ausfwdsclusfs01.aus.amer.dell.com\aus_fgi_data$\FGI Metrics\In-Transit"/>
    <add key="ConsolidationAgingReportOutputFolder" value="\\Ausfwdsclusfs01.aus.amer.dell.com\aus_fgi_data$\FGI Metrics\Consolidation"/>
    <add key="AgingReportFilePrefixs" value="APJ Aging,DAO Aging,EMEA Aging"/>
    <add key="OnhandReportFilePrefixs" value="APJ_On_Hand,DAO_On_Hand,EMEA_On_Hand"/>
    <add key="InTransitReportFilePrefixs" value="APJ_In-Transit,DAO_In-Transit,EMEA_In-Transit"/>
    <add key="FGIDetailsReportFilePrefix" value="FGI_Details"/>
    <add key="ConsolidationAgingFilePrefix" value="Consolidation_Aging"/>
    <add key="AgingReportSheetName" value="Raw Data"/>
    <add key="OnhandReportSheetName" value="On_Hand"/>
    <add key="InTransitReportSheetName" value="In-Transit"/>
    <add key="FGIDetailsReportSheetName" value="Global"/>

    <!-- Set values for Winform - "Historical Aging Data" -->
    <add key="RegionList" value="AMERICAS,LATAM,APJ,EMEA"/>
    <add key="BeginWeekNumber" value="FY16WK40"/>
    <add key="EndWeekNumber" value="FY16WK52"/>
    <add key="LOBList" value="ALIENWARE DESKTOPS,ALIENWARE NOTEBOOKS,CHROME,CLOUD CLIENT,FIXED WORKSTATIONS,LATITUDE,MOBILE WORKSTATIONS,OPTIPLEX DESKTOPS,PERSONAL DESKTOPS,PERSONAL NOTEBOOKS,POWEREDGE,STORAGE,TABLETS,VOSTRO DESKTOPS,VOSTRO NOTEBOOKS,XPS DESKTOPS,XPS NOTEBOOKS"/>
    <add key="CategoryList" value="Brazil,Comm Emerging,Commercial DBM,Cons Direct,Cons Retail,Consumer,EMEA BTP,Enterprise,Tablets"/>
  </appSettings>
</configuration>